{% extends './layouts/base_admin.html' %}

{% block content %}
<main class="w-full flex-grow p-6">
    <div class="w-full md:mt-12 md:mx-60">
        <div
            class="top-0 right-auto left-auto z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative place-self-auto w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                        <h3 class="text-lg font-semibold text-gray-900">
                            Modifier l'Utilisateur
                        </h3>
                        <a href="{{url_for('admin_articles')}}">
                            <button type="button"
                                class="text-white inline-flex items-center bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <div class="">Annuler</div>
                            </button>
                        </a>
                    </div>
                    <!-- Modal body -->
                    <form action="{{url_for('admin_articles_update',id=article.id)}}" method="POST"
                        enctype="multipart/form-data" class="p-4 md:p-5">
                        <div class="grid gap-4 mb-4 grid-cols-4">
                            <div class="col-span-4">
                                <label for="libelle"
                                    class="block mb-2 text-sm font-medium text-gray-900">Libelle</label>
                                <input type="text" name="libelle" id="libelle" value="{{article.libelle}}"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                    placeholder="Nom de l'article">
                            </div>
                            <div class="col-span-4 sm:col-span-2">
                                <label for="famille" class="block mb-2 text-sm font-medium text-gray-900">Famille
                                    d'article</label>
                                <select id="famille" name="famille"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                                    <option selected="">Selectionner la famille</option>
                                    {% if families %}
                                    {% for family in families %}
                                    <option value="{{family.id}}" {% if article.famille==family.id %}selected{% endif
                                        %}>{{family.name}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-span-4 sm:col-span-2">
                                <label for="fournisseur_id"
                                    class="block mb-2 text-sm font-medium text-gray-900">Fournisseur</label>
                                <select id="fournisseur_id" name="fournisseur_id"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                                    <option selected="">Selectionner le fournisseur</option>
                                    {% if fournisseurs %}
                                    {% for fournisseur in fournisseurs %}
                                    <option value="{{fournisseur.id}}" {% if article.fournisseur_id==fournisseur.id
                                        %}selected{% endif %}>{{fournisseur.name}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-span-4 sm:col-span-2">
                                <label for="prix_achat_unit" class="block mb-2 text-sm font-medium text-gray-900">Prix
                                    d'achat (PU)</label>
                                <input type="number" name="prix_achat_unit" id="prix_achat_unit"
                                    value="{{article.prix_achat_unit}}"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                    min=0.0 required="">
                            </div>
                            <div class="col-span-4 sm:col-span-2">
                                <label for="prix_vente_unit" class="block mb-2 text-sm font-medium text-gray-900">Prix
                                    de vente (PU)</label>
                                <input type="number" name="prix_vente_unit" id="prix_vente_unit"
                                    value="{{article.prix_vente_unit}}"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                    min=0.0>
                            </div>
                            <div class="col-span-4 sm:col-span-2">
                                <label for="quantity"
                                    class="block mb-2 text-sm font-medium text-gray-900">Quantité</label>
                                <input type="number" name="quantity" id="quantity" value="{{article.quantity}}"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                    min=0.0 placeholder="0.0">
                            </div>

                            <div class="col-span-4 sm:col-span-2">
                                <label for="unite" class="block mb-2 text-sm font-medium text-gray-900">Unité</label>
                                <input type="number" name="unite" id="unite" value="{{article.unite}}"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                            </div>
                        </div>
                        <button type="submit"
                            class="text-white inline-flex items-center bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            <svg class="w-6 h-6 text-gray-800 text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 21a9 9 0 1 1 0-18c1.052 0 2.062.18 3 .512M7 9.577l3.923 3.923 8.5-8.5M17 14v6m-3-3h6" />
                            </svg>
                            Enrégistrer
                        </button>
                    </form>
                </div>
            </div>
        </div>
</main>
{% endblock %}