{% extends './layouts/base_admin.html' %}

{% block content %}
<main class="w-full flex-grow p-6">
    <div class="w-full md:mt-12 md:mx-60">
        <div
            class="top-0 right-auto left-auto z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative place-self-auto w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                        <h3 class="text-lg font-semibold text-gray-900">
                            Créer une entreprise
                        </h3>
                        <a href="{{url_for('admin_companies')}}">
                            <button type="button"
                                class="text-white inline-flex items-center bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <div class="">Annuler</div>
                            </button>
                        </a>
                    </div>
                    <!-- Modal body -->
                    <form action="{{url_for('admin_companies_add')}}" method="POST" enctype="multipart/form-data"
                        class="p-4 md:p-5">
                        <div class="grid gap-4 mb-4 grid-cols-4">
                            <div class="col-span-4">
                                <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nom</label>
                                <input type="text" name="name" id="name"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                    placeholder="Nom de l'entreprise" required="">
                            </div>
                            <div class="col-span-4 sm:col-span-2">
                                <label for="service_charge_value"
                                    class="block mb-2 text-sm font-medium text-gray-900">Charge de service</label>
                                <input type="number" name="service_charge_value" id="service_charge_value"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                    min=0.0 placeholder="0.0" required="">
                            </div>
                            <div class="col-span-4 sm:col-span-2">
                                <label for="vat_charge_value" class="block mb-2 text-sm font-medium text-gray-900">Vat
                                    Charge value</label>
                                <input type="number" name="vat_charge_value" id="vat_charge_value"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                    min=0.0 placeholder="0.0" required="">
                            </div>
                            <div class="col-span-4">
                                <label for="address"
                                    class="block mb-2 text-sm font-medium text-gray-900">Adresse</label>
                                <input type="text" name="address" id="address"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                    placeholder="Adresse de l'entreprise" required="">
                            </div>
                            <div class="col-span-4">
                                <label for="phone"
                                    class="block mb-2 text-sm font-medium text-gray-900">Téléphone</label>
                                <input type="text" name="phone" id="phone" aria-describedby="helper-text-explanation"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                    pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}" placeholder="99 99 99 99" required>
                            </div>
                            <div class="col-span-4 sm:col-span-2">
                                <label for="country" class="block mb-2 text-sm font-medium text-gray-900">Pays</label>
                                <input type="text" name="country" id="country"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                    placeholder="Pays" required="">
                            </div>
                            <div class="col-span-4 sm:col-span-2">
                                <label for="currency" class="block mb-2 text-sm font-medium text-gray-900">Devise
                                    (Monnaie)</label>
                                <input type="text" name="currency" id="currency"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                    placeholder="La devise du pays" required="">
                            </div>
                        </div>
                        <button type="submit"
                            class="text-white inline-flex items-center bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            <svg class="w-6 h-6 text-gray-800 text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 21a9 9 0 1 1 0-18c1.052 0 2.062.18 3 .512M7 9.577l3.923 3.923 8.5-8.5M17 14v6m-3-3h6" />
                            </svg>
                            Enrégistrer
                        </button>
                    </form>
                </div>
            </div>
        </div>
</main>
{% endblock %}